[Unit]
Description=This unit forwards the given http requests to the UI of the Vallox website.
After=network.target
Wants=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/home/pi/ValloxPuppeteer/venv/bin/flask --app flaskr run --host=0.0.0.0 --port 6000
User=pi
Environment=
WorkingDirectory=/home/pi/ValloxPuppeteer

[Install]
WantedBy=multi-user.target
