[Unit]
Description=This unit forwards the given http requests to the UI of the Vallox website.
After=network.target
Wants=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/home/pi/.local/share/node/latest/bin/node /home/pi/ValloxPuppeteer/vallox_puppeteer_http_server.mjs 192.168.178.39 6000 192.168.178.39
User=pi
Environment=
WorkingDirectory=/home/pi/ValloxPuppeteer

[Install]
WantedBy=multi-user.target
